# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: HelmInstaller@0
  inputs:
    helmVersion: '2.14.1'
    
- task: HelmDeploy@0
  inputs:
    connectionType: 'Kubernetes Service Connection'
    kubernetesServiceConnection: 'divman-default'
    command: 'install'
    chartType: 'FilePath'
    chartPath: 'stable/cerebro'
    releaseName: 'release0519'
