trigger: none

pool: Hosted Ubuntu 1604

variables:
  system.debug: true

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: KubernetesManifest@0
      inputs:
        action: 'bake'
        helmChart: 'stable/aerospike'

    - publish: $(manifestsBundle)
      artifact: bakedfiles

- stage: Deploy
  displayName: 'Deployment stage'

  jobs:
  - deployment: Deploy
    displayName: Deploy

    environment: 'divman-env.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@0
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: 'divman-default'
              strategy: 'canary'
              percentage: '50'
              manifests: '$(Pipeline.Workspace)/bakedfiles'
              timeout: '0'
              
