trigger: none

pool: Hosted Ubuntu 1604

variables:
  system.debug: true

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: KubernetesManifest@0
      name: bake
      inputs:
        action: 'bake'
        helmChart: 'stable/cerebro'

    # - task: KubernetesManifest@0
    #   inputs:
    #     action: 'deploy'
    #     kubernetesServiceConnection: 'divman-default'
    #     strategy: 'canary'
    #     percentage: '50'
    #     manifests: $(bake.manifestsBundle)
    #     timeout: '0'

    - publish: $(bake.manifestsBundle)
      artifact: bakedfiles

- stage: Deploy
  displayName: 'Deployment stage'

  jobs:
  - deployment: Deploy
    displayName: Deploy

    environment: 'divman-env.default'
    strategy:
      canary:
        increments: [25,50]      
        deploy:
          steps:
          - task: KubernetesManifest@0
            inputs:
              action: $(strategy.action)
              kubernetesServiceConnection: 'divman-default'
              strategy: 'canary'
              trafficSplitMethod: 'pod'
              percentage: $(strategy.increment)
              manifests: '$(Pipeline.Workspace)/bakedfiles/*'
              
              
