# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool:
  vmImage: 'ubuntu-latest'
 
jobs:
# - job: Build
#   steps:
#   - task: Docker@2
#     inputs:
#       command: 'build'
#       Dockerfile: 'Dockerfile'
#       tags: 'latest'
#       arguments: '-t testimg235'
      
- deployment: Deploy
  environment: 'shigupt.something'
  strategy:
    runOnce:
      deploy:
        steps:
        - task: HelmInstaller@0
          inputs:
            helmVersion: '2.14.1'
            
        - task: CmdLine@2
          inputs:
            script: 'helm repo add stable https://charts.helm.sh/stable'
            
        - task: HelmDeploy@0
          name: helmdep
          inputs:
            connectionType: 'Azure Resource Manager'
            namespace: 'something'
            command: 'install'
            chartType: 'Name'
            chartName: 'stable/burrow'
            releaseName: 'release1nov30'
            overrideValues: 'image.repository=testimg215'
            waitForExecution: false

# - task: Bash@3
#   inputs:
#     targetType: 'inline'
#     script: 'echo "$(helmdep.helmOutput)"'

