# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool:
  vmImage: 'ubuntu-latest'
 
jobs:
- job: Build
  steps:
  - task: Docker@2
    inputs:
      command: 'build'
      Dockerfile: 'Dockerfile'
      tags: 'latest'
      arguments: '-t testimg235'
      
- deployment: Deploy
  environment: 'shigupt202gotemp'
  strategy:
    runOnce:
      deploy:
        steps:
        - task: HelmInstaller@0
          inputs:
            helmVersion: '2.14.1'
        - task: HelmDeploy@0
          name: helmdep
          inputs:
            # connectionType: 'Kubernetes Service Connection'
            # kubernetesServiceConnection: 'divman-default'
            command: 'install'
            chartType: 'FilePath'
            chartPath: 'demo-chart-0.1.0.tgz'
            releaseName: 'release23mayv6'
            overrideValues: 'image.repository=testimg215'
            waitForExecution: false
            failOnStderr: false

# - task: Bash@3
#   inputs:
#     targetType: 'inline'
#     script: 'echo "$(helmdep.helmOutput)"'

